<img type="button"  src="./assets/images/Update.png" width="67px" height="67px" data-bs-toggle="modal" [attr.data-bs-target]="'#exampleModal'+currentCredit.id">
    
 
  
  <!-- Modal -->
  <div class="modal fade"  id="exampleModal{{currentCredit.id}}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body" *ngIf="creditUpdateForm">
            <form [formGroup]="creditUpdateForm">
                
                
                
                <div class="mb-3">
                    <label for="quantityOfCredit">Kredi Miktarı</label>
                <div class="form-group" >
                    <input type="text" id="quantityOfCredit" formControlName="quantityOfCredit" class="form-control"  />
                </div>
                </div>

                <div class="mb-3">
                    <label for="interestRate">Faiz Oranı</label>
                <div class="form-group" >
                    <input type="number" id="interestRate" formControlName="interestRate" class="form-control"  />
                </div>
                </div>

                <div class="mb-3">
                    <label for="finishDateOfCredit">Kredi Bitiş Tarihi</label>
                <div class="form-group" >
                    <input type="datetime-local" id="finishDateOfCredit" formControlName="finishDateOfCredit" class="form-control" />
                </div>
                </div>
                
            </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Kapat</button>
          <button type="button"(click)="update()" (click)="refresh()" class="btn btn-info">Kaydet</button>
        </div>
      </div>
    </div>
  </div>
